:root {
  --titulos-principales: 48px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
  color: white;
  background-color: black;
}
.header {
  height: 100vh;
  width: 100%;
  height: 83px;
  background-color: black;

  overflow: hidden;
}
.navegacion {
  width: 100%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navegacion figure img {
  height: 83px;
  width: 80px;
}
.navegacion .menu {
  display: none;
}
.lista {
  display: flex;
  /* width: 60%; */
  justify-content: flex-end;
}
.lista li {
  list-style: none;
  margin-right: 30px;
}
.lista li a {
  text-decoration: none;
  font-size: 25px;
  line-height: 35, 22px;
  color: white;
  font-weight: 800;
}
.hero {
  width: 100%;
  height: calc(100vh - 83px);
  position: relative;
  background-color: black;
}
.hero video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.fondo {
  width: 100%;
  height: 100%;
  background: rgba(196, 196, 196, 0.2);
  position: absolute;
  top: 0;
}

.hero h1 {
  font-size: 120px;
  color: white;
  text-align: center;
  width: 552px;
  position: absolute;
  right: calc(50% - 272px);
  top: calc(50% - 200px);
  background-color: transparent;

  display: flex;
}
/* reponsive hero */
@media (max-width: 900px) {
  .lista li a {
    font-size: 20px;
  }
  .hero h1 {
    font-size: 100px;
    width: 435px;
    right: calc(50% - 221px);
  }
}

@media (max-width: 562px) {
  .lista {
    flex-direction: column;
    width: 350px;
    background: rgb(108, 99, 255);
    z-index: 1;
    height: 500px;
    align-items: center;
    position: absolute;
    right: 0;
    transition: 0.5s ease-in-out;
  }
  .lista li {
    padding-bottom: 20px;
    width: 100%;
    margin-right: 0;
    padding: 0 0 40px 20px;
  }
  .lista li a {
    text-align: center;
  }
  .lista li:hover {
    background-color: #6c63ff;
  }
  .borrar {
    display: none;
  }
  .navegacion .menu {
    display: block;
    font-size: 40px;
    margin-right: 20px;
    z-index: 2;
    cursor: pointer;
  }
  .hero h1 {
    font-size: 80px;
  }
}

/************************************* promocion **********/
.promocion {
  width: 1440px;
  height: 800px;
  background-color: black;
  margin: 0 auto;
  display: flex;
  margin-top: 50px;
  position: relative;
}
.promocion__imagenes {
  width: 45%;
  /* background-color: antiquewhite; */
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  /* position: relative;
  z-index: 3; */
}
.promocion__imagenes img:nth-child(1) {
  width: 296px;
  height: 504px;
  border-radius: 30px;
  padding-top: 20px;
  grid-row-start: 1;
}
.promocion__imagenes img:nth-child(2) {
  width: 289px;
  height: 224px;
  border-radius: 30px;
}

.promocion__informacion {
}
.promocion__informacion .informacion__titulo {
  font-size: 40px;
  line-height: 134.9%;
  width: 588px;
  font-weight: 800;
  margin-bottom: 20px;
  position: relative;
  z-index: 3;
  background-color: transparent;
}
.promocion__informacion .informacion__parrafo {
  width: 606px;
  font-size: 24px;
  line-height: 134.9%;
  position: relative;
  z-index: 3;
  background-color: transparent;
}
.informacion__targetas {
  display: flex;
  margin-top: 40px;
}
.tarjeta1 {
  position: relative;
  z-index: 3;
  background-color: transparent;
}
.informacion__targetas div:nth-child(n) {
  width: 205px;
  height: 275px;
  background: rgba(196, 196, 196, 0.2);
  border: 2px solid #ffffff;
  margin-right: 57px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div img:nth-child(n) {
  width: 90px;
  height: 93.3px;
  padding-bottom: 15px;
  background: transparent;
}
.tarjeta3 h3 {
  text-align: center;
}
h3:nth-child(n) {
  background: transparent;
}
.burbujas div:nth-child(1) {
  width: 394px;
  height: 371px;
  background: #6c63ff;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  z-index: 2;
}
.burbujas div:nth-child(2) {
  width: 145px;
  height: 131px;
  background: #6c63ff;
  position: absolute;
  top: 153px;
  right: 1044px;
  border-radius: 50%;
  z-index: 2;
}
.burbujas div:nth-child(3) {
  position: absolute;
  width: 198px;
  height: 186px;
  background: #6c63ff;
  top: 255px;
  right: 667px;
  border-radius: 50%;
  z-index: 2;
}
.burbujas div:nth-child(4) {
  position: absolute;
  width: 145px;
  height: 131px;
  bottom: 217px;
  left: 10px;
  border-radius: 50%;
  background: #6c63ff;
  z-index: 2;
}
/************************ Servicios ***********/
.servicios {
  width: 1440px;
  background-color: black;
  margin: 0 auto;
}
.servicios h2 {
  text-align: center;
  font-size: var(--titulos-principales);
}

.servicios__tarjeta {
  width: 341px;
  height: 458px;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #6c63ff;
}
.servicios__tarjeta .servicios__imagen {
  width: 200px;
  height: 200px;
}
.servicios__tarjeta h5 {
  font-size: 36px;
  line-height: 42px;
  background-color: transparent;
  text-align: center;
}
.servicios__tarjeta p {
  font-size: 25px;
  line-height: 32px;
  background-color: transparent;
  text-align: center;
  width: 286px;
  color: black;
}
.servicios__tarjetas {
  display: grid;
  margin-top: 40px;
  grid-template-columns: 341px 341px 341px;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
  justify-content: center;
  width: 100%;
}

/***************************************** proyectos ***************************************/

.proyectos {
  width: 1440px;
  background-color: black;
  margin: 0 auto;
  height: 800px;
}
.proyectos h2 {
  text-align: center;
  font-size: var(--titulos-principales);
}
